<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501871985076-b02jsi713glvl87q55s4u6usnaldc9qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501871985076-b02jsi713glvl87q55s4u6usnaldc9qj</string>
	<key>API_KEY</key>
	<string>AIzaSyA_3iPBPCmeAuPzPovUzxPBPM7gSZvXIk8</string>
	<key>GCM_SENDER_ID</key>
	<string>501871985076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdsnet.app</string>
	<key>PROJECT_ID</key>
	<string>gdsapp2021-56ecb</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsapp2021-56ecb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501871985076:ios:8c5d2b65443684c68632e1</string>
</dict>
</plist>